body{
 font-family:'open sans', sans-serif;
}
*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}
nav{
height: 80px;
background-color: green;
}
nav ul{
text-align: center;
margin-left: auto;
margin-right: auto;
}
nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 15px;
}
nav ul li a{
position: relative;
color: white;
font-size: 18px;
padding: 5px 0;
text-transform: uppercase;
}
nav ul li a: absolute{
position: absolute;
content: '';
left: 0;
bottom: 0;
height: 3px;
width: 100px%
background: powderblue;
transform: scaleX(0);
transform-origin: right;
transition: transform .4s linear;
}
nav ul li a: hover: before{
transform: scaleX(1);
transform-origin: left;
}
label #btn,
label #cancel{
color: blue;
font-size: 30px;
float: right;
line-height: 80px;
margin-right: 40px; 
cursor: pointer;
display: none;
}  
#check{
display:
}


